@page "/"

<h1 class="text-center mt-3">BlazorSpinJS Demo</h1>


<div class="container">
    <div class="card mt-5">
        <h5 class="card-header text-center">Default Spinner</h5>
        <div class="card-body p-5">

            <div class="row justify-content-center">
                <button type="button" class="btn btn-outline-dark mr-3" @onclick="StartSpinner">Start Spinner</button>
                <button type="button" class="btn btn-outline-info" @onclick="StopSpinner">Stop Spinner</button>
            </div>
        </div>
    </div>
</div>
