@page "/"

<SpinnerContainer/>

<h1>Blazor spinner Demo</h1>

<div class="row">
    <button type="button" class="btn btn-primary mr-3" @onclick="StartSpinner">Start Spinner</button>
    <button type="button" class="btn btn-primary" @onclick="StopSpinner">Stop Spinner</button>
</div>

